<article class="mt-3">
    <a href="/posts/{{post.id}}" class="text-dark">
        <div class="card border border-dark" style="max-width: 480px;">
            <div class="card-body">
                <h5 class="card-title">{{Post.title}}</h5>
            </div>
            <img src="{{post.image}}" class="card-img-top img-fluid" alt="...">
            
            <div class="card-body">
                <h5 class="card-text">By: {{post.username}}</h5>
                <div class="d-flex justify-content-between flex-wrap">
                    <a href="#" class="card-link text-dark">{{post.upvote}}<i class="fa-regular fa-thumbs-up"></i></a>
                    <a href="#" class="card-link text-dark">{{post.downvote}}<i class="fa-regular fa-thumbs-down"></i></a>
                    <a href="#" class="card-link text-dark">{{post.comment.length}} {{pluralize "comment" post.comment.length}}</a>
                </div>                    
            </div>
        </div>
    </a>                    
</article> 