<article class="my-3">
    <a href="/post/{{id}}" class="text-dark">
        <div class="card border border-dark" style="max-width: 480px;">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
            </div>
            <img src="{{post_url}}" class="card-img-top img-fluid" alt="...">
            
            <div class="card-body">
                <h5 class="card-text mb-3">By: {{user.username}}</h5>
                <div class="d-flex justify-content-center flex-wrap">
                    <a href="#" class="card-link text-dark" id="">{{vote_count}} <i class="fa-regular fa-circle-up"></i></a>                    
                    {{!-- <a href="#" class="card-link text-dark">{{downvote}}<i class="fa-regular fa-thumbs-down"></i></a> --}}
                    <a href="#" class="card-link text-dark">{{comments.length}} <i class="fa-regular fa-comment"></i></a>
                </div>                    
            </div>
        </div>   
    </a>                   
</article> 

