<section class="d-flex justify-content-around flex-wrap mt-3">    
    {{#each posts as |post|}}
        <article class="mb-3">
            <form action="" id="edit-meme-form">
                <div class="card border border-dark" style="max-width: 480px;" id="{{post.id}}">
                    <div class="card-body">
                        {{#if loggedIn}}
                        <input type="text" class="form-control" name="post-title" value="{{post.title}}">
                        {{else}}
                        <h5 class="card-title">{{post.title}}</h5>
                        {{/if}}
                    </div>
                    <img src="{{post.post_url}}" class="card-img-top img-fluid" alt="...">
                    
                    <div class="card-body">
                        <h5 class="card-text">By: {{post.user.username}}</h5>
                        <div class="d-flex justify-content-around flex-wrap">
                            <a href="#" class="card-link text-dark" data-post-id="{{post.id}}" data-action="vote"  ><i class="fa-regular fa-circle-up"></i> {{post.vote_count}} </a>
                            <a href="#" class="card-link text-dark" data-post-id="{{post-id}}" data-action="comment" data-toggle="modal" data-target="#add-comments"><i class="fa-regular fa-comment"></i> {{post.comments.length}} </a>                    
                        </div>                                           
                    </div>
                    <div class="card-body">
                        <button type="submit" class="btn btn-dark" id="save-button">Update</button>
                        <button type="submit" class="btn btn-danger" id="delete-button">Delete</button>
                    </div>
                    {{#each post.comments as |comment|}}
                    <div class="card-body border-top border-secondary d-flex flex-column">
                        <span class="font-weight-bold">{{comment.user.username}}</span>
                        <span>{{comment_text}}</span>
                    </div>
                    {{/each}}                
                </div>
            </form>
        </article>        
    {{/each}} 
</section>       
        
<div class="modal fade" id="add-comments" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add new comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" id="add-comment-form">
                <div class="modal-body">
                    <input type="textbox" name="comment-text" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark">submit</button>
                </div>
            </form>    
        </div>
    </div>
</div> 

<script src="/js/edit.js"></script>
<script src="/js/vote.js"></script>
<script src="/js/comment.js"></script>